<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Thiago Lopes - Solutions Architect" />
    <meta name="author" content="Thiago Lopes" />
    <meta name="keywords" content="Thiago Lopes, blog, programming, technology, architecture, DevOps" />
    <meta property="og:title" content="Thiago Lopes - Solutions Architect" />
    <meta property="og:description" content="Thiago Lopes - Solutions Architect" />
    <meta property="og:image" content="https://bucket.akasoft.com.br/thiagolopes.png" />
    <meta property="og:url" content="https://thiagolopes.cc" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Thiago Lopes - Solutions Architect" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:image:url" content="https://bucket.akasoft.com.br/thiagolopes.png" />
    <meta property="og:image:secure_url" content="https://bucket.akasoft.com.br/thiagolopes.png" />
    <meta property="google-site-verification" content="80sDAeiGeX2_yzH7DMSwvDGIOnB40xdjlkxqlRstOXU" />
  </head>
  {% include head.html %}
  <body>
    <main>
      {% include header.html %}
      <section class="article">
        <div class="article-header">
          <h2 class="article-title">{{page.title}}</h2>
          <small class="date">{{page.date | date_to_string}}</small>
          <div class="categories">
            {% for c in page.categories %}
            <a href="#!" class="category">{{c}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="content">{{content}}</div>
      </section>
      {% include footer.html %}
    </main>
    {% include category-modal.html%}
  </body>
</html>
